body{
    background: url(assets/start.png) no-repeat;
    background-position: 40% 89%;
    background-size: 50px;
}

.container{
    padding: 50px 80px 50px 80px;
}

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 100px;
}


.list{
    display: flex;
}

.list-item{
    list-style: none;
    margin: 0 30px;
    font-size: 25px ;
    font-family: 'Orbitron', sans-serif;
}

.list-item:nth-child(2){
    order: 1;
}
.list-item:nth-child(4){
    order: 1;
}
.list-item:nth-child(5){
    order: 1;
}


.list-item:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px ;
}

.button-group{
    display: flex;
    justify-content: flex-end;
    
}

.search-icon svg{
    height: 30px;
    margin: 7px 10px 0 0;
}

.nav-button{
    border: 3px solid #000000;
    border-radius: 10px;
    font-size: 25px;
    background-color: #FFFFFF;
    color: #808080;
    padding: 5px 50px 1px 50px;
    font-family: 'Poppins', sans-serif;
}

.button-group{    
    display: flex;
}

.hero-container{
    display: flex;
    
}

.hero-container>div>img{
    height: 600px;
}


.square{
    position: absolute;
    bottom: 45px;
    left: 230px;
    z-index: -1;
}
.star{
    position: absolute;
    top: 230px;
    right: 150px;
}
.globe{
    position: absolute;
    top: 180px;
    right: 800px;
}

.hero-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;
}

.hero-heading{
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 100px;
}

.button-email{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: #808080;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 0 30px 0 30px;
    
}

.button-join{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    border: 3px solid #000000;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #000000;
    margin-left: 20px;
}

.hero-description
{
    font-family: 'Poppins', sans-serif;
    color: #808080;
    width: 700px;
    margin-bottom: 100px;
}

.contact-heading
{
    font-family: 'Poppins', sans-serif;
    color: #808080;
    font-weight: 500;
    font-size: 22px;
    margin-top: 125px;
    margin-bottom: 10px;
}

.icons img{
    padding: 0 10px 0 10px; 
}